/* wraper */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    text-decoration: none;
}
h2 {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
     }
h3 {
    width: 264px;
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.4px;
     }
p {
    color: var(--slate, #434455);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.32px;
}
.post-link {
    color: currentColor;
}
:root {
    --ocean: #404bbf;
    --slate: #434455;
    --navyblue: #2e2f42;
    --primary-font: "Roboto", sans-serif;
    --title-font: "Roboto", sans-serif;
    --primary-white-color: #ffffff;
    --primary-accent-color: #4D5AE5;
}
/* Hedear */
 
.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
    
    letter-spacing: 1px;
    width: 44px;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0.54px;
}
.logo-color {
    letter-spacing: 5px;
    width: 71px;
    color: #2E2F42;
    font-size: 18px;
}
.link {
    color: var(--navyblue, #2E2F42);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}
.address.list.contakt {
    color: var(--slate, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}
/* hero image */
.hero-text {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.hero-image {
    background: var(--navyblue, #2E2F42);
}
.discount-badge {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
     }
/* Section 1 */
.section-1.list {
    color: var(--slate, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.32px;
}
/* Section 2 */
/* Section 3 */
/* Footer */
footer {
    background-color: #2E2F42;
}
.footer-text {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

    font-style: normal;
    width: 264px;
}
.footer-text.span-logo {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
}