/* Top Line */
:root {
  --font-family: 'Roboto', sans-serif;
  --font-family: 'Raleway', sans-serif;
  --font-weight: 400, 500, 700, 800;
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --white: #fff;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}


.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* header css */

.header {
  align-items: center;
  display: flex;
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
}

.header-flex {
  display: flex;
}

.logo {
  color: var(--iris);
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  margin-right: 76px;
}

.studio-color {
  color: var(--navyblue);
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  margin-right: 76px;
}

.nav {
  display: flex;
  font-family: "Roboto";
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list:last-child {
  margin-right: 0;
}

.nav-link {
  color: var(--navyblue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.address {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.32px;
}

.address-items {
  display: flex;
  gap: 40px;
}

.address-items:last-child {
  margin-right: 0;
}

.address-link {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}
/* main page */
 
.main-section {
    display: flex;
    flex-direction: column;
    background-color: var(--navyblue, #2e2f42);
  }
  
.main-section.main-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
  }
.main-title {
  font-family: Roboto;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  color: var(--white, #FFF);
}
.main-button {
    background-color: var(--iris);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    padding: 48px;
  }
  
.main-button:hover,
.main-button:focus {
    background-color: var(--ocean);
    cursor: pointer;
  }
  
.sub-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
  }
  
.main-paragraph {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
  }
  
.title-section-duo {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue);
  }
  
  .main-section-four {
    background-color: var(--cloud);
  }
  
  .section-four-items {
    background-color: #ffffff;
  }
  
/* footer  */
  
.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--navyblue);
  }
  
.footer-paragraph {
    height: 312px;
    line-height: 1.5;
    color: var(--cloud);
    letter-spacing: 0.02em;
  }
  
.footer-logo-color {
    color: var(--cloud);
  }

/* portfolio main  */
.btn-menu {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    background-color: var(--cloud);
  }
  
.btn-menu:focus,
.btn-menu:hover {
    color: #ffffff;
    background-color: #404bbf;
    cursor: pointer;
  }
  
.portfolio-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
  }
  
.portfolio-paragraph {
    color: var(--slate);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }